.cdx-block{
    padding:.4em 0
}
.cdx-block::-webkit-input-placeholder{
    line-height:normal!important
}
@keyframes fade-in{
    0%{
        opacity:0
    }
    to{
        opacity:1
    }
}
.ce-block{
    animation:fade-in .3s ease;
    animation-fill-mode:none
}
.ce-block:first-of-type{
    margin-top:0
}
.ce-block--selected .ce-block__content{
    background:var(--selectionColor)
}
.ce-block--selected .ce-block__content [contenteditable]{
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none
}
.ce-block--selected .ce-block__content .ce-stub,.ce-block--selected .ce-block__content img{
    opacity:.55
}
.ce-block--stretched .ce-block__content{
    max-width:none
}
.ce-block__content{
    /* margin:0 auto; */
    /* max-width:var(--content-width); */
    position:relative;
    transition:background-color .15s ease
}
.ce-block--drop-target .ce-block__content:before{
    border:solid var(--color-active-icon);
    border-width:1px 1px 0 0;
    content:\"\";
    height:8px;
    left:-20px;
    margin-top:-1px;
    position:absolute;
    top:100%;
    transform:rotate(45deg);
    transform-origin:right;
    width:8px
}
.ce-block--drop-target .ce-block__content:after{
    background:repeating-linear-gradient(90deg,var(--color-active-icon),var(--color-active-icon) 1px,#fff 1px,#fff 6px);
    color:var(--color-active-icon);
    content:\"\";
    height:1px;
    position:absolute;
    top:100%;
    width:100%
}
.ce-block a{
    cursor:pointer;
    text-decoration:underline;
    color: -webkit-link
}
.ce-block b{
    font-weight:700
}
.ce-block i{
    font-style:italic
}
@media (width >= 651px){
    .codex-editor--narrow .ce-block--focused{
        margin-right:calc(var(--narrow-mode-right-padding)*-1);
        padding-right:var(--narrow-mode-right-padding)
    }
}

.ce-example {
    font-size: 16.2px;
}

.ce-example__header {
    border-bottom: 1px solid #E8E8EB;
    height: 50px;
    line-height: 50px;
    display: flex;
    padding: 0 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.ce-example__header a {
    color: inherit;
    text-decoration: none;
}

.ce-example__header-logo {
    font-weight: bold;
}

.ce-example__header-menu {
    margin-left: auto;
}

@media all and (max-width: 730px) {
    .ce-example__header-menu {
        margin-left: 0;
        margin-top: 10px;
        flex-basis: 100%;
        font-size: 14px;
    }
}

.ce-example__header-menu a {
    margin-left: 20px;
}

@media all and (max-width: 730px) {
    .ce-example__header-menu a {
        margin-left: 0;
        margin-right: 15px;
    }
}

.ce-example__content {
    max-width: 1100px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ce-example__content--small {
    max-width: 500px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 0 15px;
}

.ce-example__output {
    background: #1B202B;
    overflow-x: auto;
    padding: 0 30px;
}

.ce-example__output-content {
    margin: 30px auto;
    color: #ABADC3;
    font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;
    font-size: 13.3px;
}

.ce-example__output-content:empty {
    display: none;
}

.ce-example__button {
    display: block;
    margin: 50px auto;
    max-width: 180px;
    background: #4A9DF8;
    padding: 17px 30px;
    box-shadow: 0 22px 18px -4px rgba(137, 207, 255, 0.77);
    transition: all 150ms ease;
    cursor: pointer;
    border-radius: 31px;
    color: #fff;
    font-family: 'PT Mono', Menlo, Monaco, Consolas, Courier New, monospace;
    text-align: center;
}

.ce-example__button:hover {
    background: #3D8DE5;
    transform: translateY(2px);
    box-shadow: 0 20px 15px -4px rgba(137, 207, 255, 0.77);
}

.ce-example__output-footer {
    padding: 30px 0;
    font-size: 14.2px;
    letter-spacing: 0.3px;
    text-align: center;
}

.ce-example__output-footer a {
    color: #fff;
    text-decoration: none;
}

@media all and (max-width: 730px) {

    .ce-example__header,
    .ce-example__content {
        padding: 0 20px;
    }
}

/**
   * JSON highlighter
   */
.sc_attr {
    color: rgb(148, 162, 192);
}

.sc_key {
    color: rgb(190, 213, 255);
}

.sc_toolname {
    color: rgb(15, 205, 251);
}

.sc_tag {
    color: rgb(4, 131, 216);
}

.sc_bool {
    color: rgb(247, 60, 173);
}

.ce-example .ce-block:first-of-type h2.ce-header {
    font-size: 50px;
}

.ce-example h2.ce-header {
    font-size: 30px;
}

.ce-example h3.ce-header {
    font-size: 24px;
}

.ce-example h4.ce-header {
    font-size: 18px;
}


.ce-paragraph {
    line-height: 1.6em;
    outline: none;
}

.ce-paragraph[data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    opacity: 0;
}

/** Show placeholder at the first paragraph if Editor is empty */
.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before {
    opacity: 1;
}

.codex-editor--toolbox-opened .ce-block:first-child .ce-paragraph[data-placeholder]:empty::before,
.codex-editor--empty .ce-block:first-child .ce-paragraph[data-placeholder]:empty:focus::before {
    opacity: 0;
}

.ce-paragraph p:first-of-type {
    margin-top: 0;
}

.ce-paragraph p:last-of-type {
    margin-bottom: 0;
}

/**
 * Plugin styles
 */
 .ce-header {
    padding: 0.6em 0 3px;
    margin: 0;
    line-height: 1.25em;
    outline: none;
}

.ce-header p,
.ce-header div{
    padding: 0 !important;
    margin: 0 !important;
}

/**
 * Styles for Plugin icon in Toolbar
 */
.ce-header__icon {}

.ce-header[contentEditable=true][data-placeholder]::before{
    position: absolute;
    content: attr(data-placeholder);
    color: #707684;
    font-weight: normal;
    display: none;
    cursor: text;
}

.ce-header[contentEditable=true][data-placeholder]:empty::before {
    display: block;
}

.ce-header[contentEditable=true][data-placeholder]:empty:focus::before {
    display: none;
}
.ce-block__content h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.ce-block__content ul, ol {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.ce-block__content ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.ce-block__content ol li::first-letter {
    text-transform: capitalize;
}
.ce-block__content ul li::first-letter {
    text-transform: capitalize;
}
.image-tool__image {
    display: flex !important;
    width: 90% !important;
    justify-content: center !important;
}
.image-tool__image img{
    /* width: 50%; */
}